
html {
    background-color: black;
    color: white;
    /* background: url(images/bg-test-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
body {
    margin: 0;
}
h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(122, 198, 255);
}
h3 {
    margin-top: 1%;
    margin-bottom: 1%;
}
a {
    color: white;
    text-decoration-color: white;
}
p {
    margin-top: 2%;
    margin-bottom: 2%;
}
canvas {
    z-index: 1;
}
table {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#levels-div {
    text-align: center;
}
.level-child {
    display: inline-block;
    vertical-align: middle;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.menu {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.menu_button {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 110, 255);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    font-size: large;
    border-color: rgb(0, 110, 255);
    border: none;
    border-radius: 8px;
}

.menu_button:hover {
    background-color: rgb(0, 204, 255);
}

.menu_button_lvl {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 255, 85);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    font-size: large;
    border-color: rgb(0, 255, 85);
    border: none;
    border-radius: 8px;
}

.menu_button_lvl:hover {
    background-color: rgb(180, 255, 205);
}

.remap-button {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 110, 255);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    font-size: medium;
    border: none; 
    border-radius: 8px;
}
.remap-button:hover {
    background-color: rgb(0, 204, 255);
}

.game_headers {
    /* width: 20%; */
    margin-top: 1%;
}
.game_headers_container {
    width: 40%;
    display: flex;
    flex-direction: row;
    /* float: left;
    position: relative; */
}
.portrait {
    width: 60%;
    height: auto;
    min-height: 100px;
    min-width: 100px;
}
.developer-row {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
}
.developer-table {
    margin-left: 10%;
    margin-right: 10%;
}
.about-developer {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    /* white-space: nowrap; */
}
.developer-div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.other-credits {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.credits-div {
    margin-top: 5%;
    margin-bottom: 5%;
}